.iconblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.clock {
  color: white;
  font-family: Gilroy-Light;
  font-size: 26px;
  margin: 0 15px;
}