:root {
  --big-font-size: calc(100vh / 9);
}

.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: var(--big-font-size);
  color: white;

  margin: 0 10px;
}


.content {
  grid-area: content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__tile-panel {
    height: 80%;
    max-height: 400px;
  }

  &__tile {
    justify-content: center;

    width: 450px;
  }
}
