@google-font Roboto 400 cyrillic;
@google-font "Roboto Mono" 300 cyrillic;

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.otf');
}
