.grid-body
  .userblock

  .title
    div.title__text Library

  .content
    //- .tile-panel.content__tile-panel
    //-   .tile.content__tile
    //-     .tile__card.content__card
    //-       img.tile__background(
    //-         src='img/terminal.jpg'
    //-       )
    //-     div
    //-       .tile__name Terminal


  .menu
    //- .tile-panel.menu__tile-panel
    //-   .tile.menu__tile
    //-     a.tile__card.menu__card
    //-       i.material-icons.menu__icon apps
    //-     div
    //-       .tile__name Library
