.grid-body
  .userblock
    .icon
      img.icon__img(
        src="triss.jpg"
      )

    .userblock__name Triss Merigold

  .content
    .content__title Library

    .tile-panel.content_tile-panel
      .tile.content_tile
        .tile__card
          img.tile-background(
            src="terminal.jpg"
          )

        .div
          .tile-name Terminal

  .tile-panel.menu_tile-panel
    .tile.menu_tile
      .tile__card
        img.tile__icon

      .div
        .tile-name Store
