.game-container.application
      .snakegame-container.snakegame-container_hidden
            canvas.canvas

      .snakemenu-container.snakemenu-container_hidden
            .snakemenu
                  .snakemenu-buttons
                        a.snakemenu-button.snakemenu-button-focus Singlpleer
                        a.snakemenu-button Multiplayer
                        a.snakemenu-button Settings
                        a.snakemenu-button Exit