* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  .faux-input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0px;
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
  }
  
  .terminal {
    background: #000;
    width: 100%;
    height: 100%;
    font-family: Monaco, monospace;
    font-weight: 400;
    font-smooth: never;
    -webkit-font-smoothing : none;
    font-size: 10.5pt;
    padding: 3px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    line-height: 1.2em;
    overflow-y: scroll;
    position: relative;
    color: #99ff00;
  }
  
  .terminal .red {
    color: red;
  }
  .terminal .blue {
    color: blue;
  }
  .terminal .white {
    color: #fff;
  }
  .terminal .bold {
    font-weight: bold;
  }
  
  .bell {
    width: 0.1em;
    height: 1.1em;
    line-height: 1.2em;
    background: #fff;
    position: absolute;
    animation: flash 1s infinite;
  }

  .focus {
    color: #00ffcc;
  }
  
  @keyframes flash {
    0% {
      visibility: visible;
    }
    49% {
      visibility: visible;
    }
    50% {
      visibility: hidden;
    }
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  
  /* Let's get this party started */
  ::-webkit-scrollbar {
      width: 12px;
  }
   
  ::-webkit-scrollbar {
    width: 10px;
  }
   
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #111;
  }