.block#leaderboard
  table.leadertable
    tr
      th Username
      th Score

    each user in users
      tr
        td=user.username
        td=user.score
  div.pagination
    a &laquo
    - for(var i = 1; i <= pagesCount; i++) {
      a(page= i)= i
    - }
    a &raquo

  a.button(
    href='/'
  ) Back
