#userblock {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  display: inline-block;
  overflow: hidden;
  border: 2px solid #393941;
  margin: 10px;
}

#userblock img {
  width: inherit;
  height: inherit;
  margin: 0;
}

#userblock:hover, #userblock:active, #userblock:focus {
  border: 2px solid #2f8271;
  background-color: #393941;
}

#userblockbutton {
  color: white;
  /* background: #575760; */

  font-size: 14px;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  padding: 32px 0;
  margin: 0;
  display: block;

  cursor: pointer;
}
