.singlpayer-menu
    a.snakemenu-button(datagref = "SINGLPLEER") Singlpleer
    a.snakemenu-button(datagref = "MULTIPLAYER") Multiplayer
    a.snakemenu-button(datahref = "SETTINGS") Settings
    a.snakemenu-button(datahref = "EXIT") Exit