.main-content
  .gamename.gamename_greenred ОНАCONDA
  .snakemenu-singlplayer.snakemenu__greenred-border
    each data, text in buttons
        - href = `${data.href}?${data.params}`;
        a.snakemenu-button(href=href, src=data.href params=data.params)=text