.main-content
  .gamename.gamename_purple ОНАCONDA
  .snakemenu-multiplayer.snakemenu__purple-border
   each data, text in buttons
     a.snakemenu-button(href=data.href, params=data.params, search=data.params)=text