.block#settings
  input#vol-control(type="range", min="0", max="100", step="1", oninput="")
  div
    input(type="checkbox", id="scales", name="feature", value="scales", checked)
    label(for='scales')
    a.button(
      datahref='menu'
    ) Назад
