@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #7cdcc8;
  font-family: "Roboto", sans-serif;     
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #345C54;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #2f8271;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
  cursor: pointer;
}
.form .message a {
  color: #549587;
  text-decoration: none;
}

.menu {
  display: none;
}

.menu button {
 margin: 0 0 15px;
}



/* leaderboard */

.leaderboard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.leaderboard td, .leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

.leaderboard tr:nth-child(even){background-color: #f2f2f2;}

.leaderboard tr:hover {background-color: #ddd;}

.leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #549587;
  color: white;
}


/*profile*/

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.avatar {
  width: 100%;
}

.information {

}


/* back button*/

.back {
  margin-top: 20px;
}
