.description-container {
  grid-area: description;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 250px;
  height: 100%;
}

.preview {
  width: 245px;
  height: 100px;
  background-image: url('/img/terminal.jpg')
}
