.description-container {
  grid-area: description;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10px;


  &__tile {
    width: 100%;
    overflow: hidden;
  }

  &__background {
    width: 100%;
    object-fit: cover;
    border-radius: 0 5px 5px 0;
  }
}
