.description
  if app
    .description__tile
      img.description__background(src='https://snakewave.com/' + app.image)
    .description__title= app.name
    .description__installs= 'Installs: ' + app.installs

    .description__about= app.about


    if app.installed
      .description__button installed
    else
      .description__button.add-button add
  else
    .description__about Click on app to see infо about it
