.leadertable {
  background-color: #575760;
  color: white;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  margin: 15px 0;
}

.leadertable th {
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #2f8271;
  color: white;
}

.leadertable td, .leadertable th {
  padding: 10px;
}

.leadertable tr:nth-child(odd){
  background-color: #f2f2f2;
  color: black;
}

/* .leadertable tr:hover {background-color: #ddd;} */
