@import url(
  https://fonts.googleapis.com/css?family=Roboto+Mono:300&subset=cyrillic
);

body {
  background: black;
}

.terminal {
  background: black;
  color: chartreuse;
  font-family: 'Roboto Mono', monospace;
}

.terminal_line {
  display: flex;
  white-space: pre;
}

.last {
  width: 100%;
}

.terminal__input {
  background: none;
  user-select: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;

  padding: 0;
  width: 100%;
}
