//- костыль на время 
- const players = [{  name: 'Alfreds Futterkiste', lvl: 10, score: 3505}, {  name: 'Berglunds snabbköp', lvl: 10, score: 3412}, {  name: 'Centro comercial Moctezuma', lvl: 8, score: 2058},  {  name: 'Ernst Handel', lvl: 4, score: 1002}]

.block#leaderboard
    table.leadertable
        tr
            th Player
            th Lvl
            th Score

        each player in players
            tr
                td= player.name
                td= player.lvl
                td= player.score



    a.button#menuButton Назад
