@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.otf');
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('/fonts/PressStart2P.ttf');
}
