.main-content
  .gamename.gamename_greenred ОНАCONDA
  .snakemenu-main.snakemenu__greenred-border
    - console.log('loggedIn', key,  loggedIn);
      each value, key in buttons
          - if (key === '/multiplayer' && !loggedIn) {
            a.snakemenu-button.multiplayermenu-button(href=key src=key error='Register to play in multiplayer')=value
          - } else {
            a.snakemenu-button(href=key src=key)=value
          - }