.main-menu
    a.snakemenu-button(datahref = "SINGLPLAYER") Singlplayer
    a.snakemenu-button(datahref = "MULTIPLAYER") Multiplayer
    a.snakemenu-button(datahref = "SETTINGS") Settings
    a.snakemenu-button(datahref = "EXIT") Exit