.main-menu
    a.snakemenu-button(datagref = "SINGLPLEER") Singlplayer
    a.snakemenu-button(datagref = "MULTIPLAYER") Multiplayer
    a.snakemenu-button(datahref = "SETTINGS") Settings
    a.snakemenu-button(datahref = "EXIT") Exit