.ready-message-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20%;
}

.ready-message_block {
    justify-self: center;
    align-self: center;

    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
}


.ready-message__text,
.ready-menu {
    margin: 15px;
}