.ready-message_block
    .ready-message__text Are you ready to play?
    span.timer
    span.seconds  seconds 
    .ready-menu
        a.snakemenu-button(event='QUICKSEARCH_START') START
        a.snakemenu-button(event='QUICKSEARCH_QUIT') QUIT
.accept_block(hidden)
    .accept-message Already ready to play:
    .accept-players