.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app_tile.table_tile
  a.tile__card.app__card
    img.tile__background(src='/img/terminal.jpg')
