.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
.tile.app-table__tile
  a.tile__card.app-table__card
    img.tile__background(src='/img/terminal.jpg')
