.menu
  .tile-panel.menu__tile-panel
    each tile in tiles
      .tile.menu__tile(name= tile.name)
        a.tile__card.menu__card(
          href= tile.link
        )
          i.material-icons.menu__icon= tile.icon
        div
          .tile__name= tile.name
