.tile.menu__tile(name= tile.name)
  a.tile__card.menu__card(
    href= tile.link
    name= tile.name
  )
    img.menu__tile-background(
      src= 'https://snakewave.com/' + tile.image
    )
  div
    .tile__name= tile.name
