.game-board {
    display:flex;
    flex-direction: column;
}

.players {
    height: 100%;
    margin: 2px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.player, .score {
    margin: 5px;
    font-size: 14px;
}

.player_greenyellow {
    color: greenyellow;
}

.player_yellow {
    color: yellow;
}

.player_red{
    color: red;
}

.player_blue {
    color: blue;
}

.player_green {
    color: green;
}

.player_white {
    color: white;
}