.form-about-us
    .form-about-us_text Place for your feedback and suggestions for new games
    form.about_form 
        .about_text(hidden) From:
        input.about_from(type="text" name="fname" hidden)
        br
        .about_text(hidden) You may suggest us a new game
        textarea.about_textarea(type="text-area" name="lname")
        br
        button.tile__card.menu__card.about_button(type="reset" value="Submit") Send

