@font-face {
  font-family: myFirstFont;
  src: url("../../../public/fonts/led_display-7.ttf") format('truetype'),;
}

@font-face {
  font-family: font35;
  src: url("../../../public/fonts/3X5_____.ttf");
}

@font-face {
  font-family: trsMillion;
  src: url("../../../public/fonts/trs-million rg.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.game-container {
  height: 100%;
  /* cursor: none; */
  display: grid;
  justify-items: center;
  align-items: center;
}

/* cause 'hidden' property does not work with flex-box */
[hidden] {
  display: none !important;
}


.snakegame-container {
    
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15% auto;
    grid-template-areas: 
      "mode . score . ."
      "game game game game game"
      "game game game game game";
      
    /* position: relative; */
  }

.snakegame-container_hidden {
    display: none;
  }

.snakegame-canvas {
  border-style: solid;
  border-width: 2px;
  border-color: #3F0070;
  
  justify-self: center;
  align-self: center;
}

.main-score {
  /* font-family: myFirstFont, font35, trsMillion; */
  font-family: 'Press Start 2P', cursive;
  font-size : 20px;

  justify-self: center;
  align-self: center;

  grid-area: score;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;

  margin-left: 10px;
  margin-right: 10px;

  display: grid;
  justify-self: end;
  align-self: center;
  /* background-color: green; */
  grid-area: game;
}

.game_mode {
  grid-area: mode;
  font-family: 'Press Start 2P', cursive;
  font-size : 30px;
  color: rgb(255, 255, 255);

  justify-self: center;
  align-self: center;
}

.snakegame-container__multiplayer {
    
  grid-template-areas: 
    "mode . score . board"
    "game game game game board"
    "game game game game board";
    
  /* position: relative; */
}

.game-board-wrapper {
  font-family: 'Press Start 2P', cursive;
  font-size : 30px;

  /* background-color: rgb(255, 255, 255); */

  /* width: 90%;
  height: 60%; */

  justify-self: center;
  align-self: center;
  
  grid-area: board;

  margin-left: 10px;
  margin-right: 10px
}

.game-board__purple {
  border-style: solid;
  border-width: 2px;
  border-color: #3F0070;
}

.game-board-name {
  text-align: center;
  margin: 10px;
}



