.snakepage-main {
  display: grid;
  font-family: 'Press Start 2P', cursive;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-content: center;
}

.main-content {
  grid-template-rows: 30% 70%;
  display: grid;

  grid-template-areas: 
    "gamename"
    "menu";
}

.snakemenu-main, .snakemenu-singlpayer, .snakemenu-multiplayer {
  max-width: 400px;

  font-family: 'Press Start 2P', cursive;
  font-size: 14px;

  padding: 0px 10px;

  /* width: 80vw;
  height: 50vh; */

  width: 424px;
  height: 323px;

  display: grid;

  flex-wrap: wrap;

  grid-area: menu;
}

.snakemenu__purple-border {
  border-style: solid;
  border-width: 2px;
  border-color: #3F0070;
}

.snakemenu__yellowgreen-border {
  border-style: solid;
  border-width: 2px;
  border-color: yellowgreen;
}

.snakemenu__pink-border {
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

.snakemenu-button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px;
  place-self: center;
  cursor: pointer;
}
  
.snakemenu-button_focus::before {
  content: "> ";
}

.snakemenu-button__focus-purple {
  color: rgb(138, 4, 165);
  font-size: 18px;
}

.snakemenu-button__focus-pink {
  color: pink;
  font-size: 18px;
}

.snakemenu-button__focus-greenyellow {
  color: greenyellow;
  font-size: 18px;
}

.gamename {
  color: rgb(138, 4, 165);
  font-size: 50px;
  margin: 30px;
  grid-area: gamename;
  place-self: center;
}
