.snakemenu-main, .snakemenu-singlpayer, .snakemenu-multiplayer {

    max-width: 400px;
  
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
  
    padding: 0px 10px;
  
    width: 80vw;
    height: 50vh;
  
    display: grid;
  
    flex-wrap: wrap;
  }

.snakemenu__purple-border {
    border-style: solid;
    border-width: 2px;
    border-color: #3F0070;
}

.snakemenu__yellowgreen-border {
  border-style: solid;
  border-width: 2px;
  border-color: yellowgreen;
}

.snakemenu__pink-border {
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

.snakemenu-button {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 15px;
    place-self: center;
    cursor: pointer;
  }
  
  .snakemenu-button_focus {
    color: rgb(138, 4, 165);
    font-size: 18px;
    /* font-weight: bold; */
  }
  
  .snakemenu-button_focus::before {
    content: "> ";
  }