.snakepage-main {
  display: grid;
  font-family: 'Press Start 2P', cursive;

  width: 100vw;
  height: 100vh;

  justify-content: center;
  align-content: center;
}

.main-content {
  grid-template-rows: 30% 70%;
  display: grid;

  font-family: 'Press Start 2P', cursive;

  grid-template-areas: 
    "gamename"
    "menu";
}

.snakemenu-main, .snakemenu-singlplayer, .snakemenu-multiplayer {
  font-size: 14px;
  padding: 0px 10px;

  justify-self: center;
  align-self: center;

  width: 323px;
  height: 323px;

  display: grid;

  flex-wrap: wrap;

  grid-area: menu;
}

@media (max-width: 410px) {
  .snakemenu-main, .snakemenu-singlplayer, .snakemenu-multiplayer {
    width: 260px;
  }
}

.snakemenu__purple-border {
  border-style: solid;
  border-width: 2px;
  border-color: #3F0070;
}

.snakemenu__yellowgreen-border {
  border-style: solid;
  border-width: 2px;
  border-color: yellowgreen;
}

.snakemenu__pink-border {
  border-style: solid;
  border-width: 2px;
  border-color: pink;
}

.snakemenu-button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  margin: 0 20px;
}
  
.snakemenu-button_focus::before {
  content: "> ";
}

.snakemenu-button__focus-purple {
  color: rgb(138, 4, 165);
  font-size: 18px;
}

.snakemenu-button__focus-pink {
  color: red;
  font-size: 18px;
}

.snakemenu-button__focus-greenyellow {
  color: greenyellow;
  font-size: 18px;
}

@media (max-width: 768px) {
  .snakemenu-button__focus-purple,
  .snakemenu-button__focus-pink,
  .snakemenu-button__focus-greenyellow {
    color: white;
    font-size: 14px;
  }

  .snakemenu-button:hover {
    color: greenyellow;
    font-size: 18px;
  }
}

.gamename {
  font-size: 50px;
  margin-bottom: 30px;
  grid-area: gamename;
  justify-self: center;
  align-self: center;
}

@media (max-width: 410px) {
  .gamename {
    font-size: 30px;
    /* margin-bottom: 30px; */
  }
}

.gamename_purple {
  color: rgb(138, 4, 165);
}

.gamename_greenyellow {
  color:greenyellow;
}

.gamename_pink {
  color: red;
}
