.grid-common.blurred
  userblock
  clock
  //- .list
  //- .app-table
  //- .description-container
  //- .content.store
  home
  store
  menu
  //- .profile__user-data
  //- .profile-description-container
  //- .about
  //- .about-list
  //- .form-about-us
