.loader-container
.grid-common.home-page__grid
  .userblock
  .icon-block
  .title
    div.title__text Home
  .list
  .app-table
  .description-container
  .content.store
  .content.home-page
  .menu

.application
