.loader-container
.grid-common.home-page__grid
  .userblock
  .iconblock
  .title
    div.title__text Home
  .list
  .app-table
  .description-container
  .content.store
  .content.home-page
  .menu
  .profile__user-data
  .profile-description-container
  .about
  .about-list
  .form-about-us

.application
