@custom-media --mobile (max-width: 440px);

@custom-media --tablet (min-width: 440px) and (max-width: 768px);

@custom-media --minimal (max-width: 768px);

@custom-media --small (min-width: 768px) and (max-width: 850px);

@custom-media --normal (min-width: 850px) and (max-width: 1200px);

@custom-media --large (min-width: 1200px);


:root {
  --minimal-grid-padding-x: 20px;
  --small-grid-padding-x: 40px;
  --grid-padding-x: 80px;
}
