@google-font Roboto 400 cyrillic;
@google-font "Roboto Mono" 300 cyrillic;

body {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.game-wrapper {
  height: 100%;
  width: 100%;
}
