body {
    background: black;
    margin: 0;
}

.container {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 70vw;
    height: 100vh;

    border-style: solid;
    border-width: 0px 1px;
    border-color: greenyellow;

    margin: 0;
}

.chat__header {
    border-style: solid;
    border-width: 1px 0px;
    border-color: greenyellow;

    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: greenyellow;

    line-height: 50px;

    width: 100%;
    height: 50px;
}

.chat__main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    width: 100%;

    color: white;
}

.rooms {
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
    border-color: greenyellow;

    width: 31%;
}
