.room {
    display: flex;
    flex-direction: row;

    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: greenyellow;
}

.room__avatar {
    margin: 0;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.room__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.room__name {
    text-align: center;
    height: 50%;
}

.room__message {
    text-align: center;
    height: 50%;
}
