.main-content
    .gamename.gamename_greenred ОНАCONDA
    .hotkeys-block.snakemenu__greenred-border
        - hotkeys.forEach((hotkey) => {
            .hotky-combination
                span.hotkey-key.gamename_greenred=hotkey.key
                span.hotkey-info=hotkey.info
        - });
            .hotkeysmenu
                each data, text in buttons
                    a.snakemenu-button(href=data.href, params=data.params, search=data.params)=text