.hotky-combination {
    margin: 5px;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.hotkey-key {
    margin-right: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}

.hotkeysmenu {
    justify-self: center;
    align-self: center;
}

.hotkey-info {
    color: white;
}