.hotky-combination {
    margin: 10px;
    justify-self: center;
    align-self: center;
}

.hotkey-key {
    margin-right: 20px;
    font-weight: bold;
}

.hotkeysmenu {
    justify-self: center;
    align-self: center;
}

.hotkey-info {
    color: white;
}