.game_mode ARCADE
.main-score.main-score__purple
    span.score__text Score:
        span.score__value 0
.canvas-wrapper
    canvas.snakegame-canvas.game-board__purple
.game-board-wrapper(hidden)
    .game-board-name Players
    .game-board.game-board__purple
        .players.scores(user_serial=0)
            .player.player_greenyellow nePlayer
            .score.player_greenyellow 0
        .players.scores(user_serial=1)
            .player.player_yellow nePlayer
            .score.player_yellow 0
        .players.scores(user_serial=2)
            .player.player_green nePlayer
            .score.player_green  0
        .players.scores(user_serial=3)
            .player.player_blue nePlayer
            .score.player_blue 0