.game_mode ARCADE
.main-score.main-score__purple
    span.score__text Score:
        span.score__value 0
.canvas-wrapper
    canvas.snakegame-canvas.game-board__purple
.game-board-wrapper(hidden)
    .game-board-name Players
    .game-board.game-board__purple
        .players
            .player.first_player_color  dlipko 
            .player.second_player_color dpaliy
            .player.third_player_color  bomkvilt
            .player.fourth_player_color xenijja
        .scores
            .score.first_player_color   0
            .score.second_player_color  0
            .score.third_player_color   0
            .score.fourth_player_color  0